# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: "14.x"
        cache: 'npm'
    - run: npm install
    - run: npm ci
    - run: npm run build --if-present
    - name: Run tests
      run: npm test
      id: tests
      continue-on-error: true
    - name: Run coverage
      id: coverage
      run: npm run coverage
      continue-on-error: true
    - name: Check on failures
        if: steps.tests.outcome != 'success' || steps.coverage.outcome != 'success'
        run: exit 1
    - name: Upload coverage to Coveralls
      uses: coverallsapp/github-action@v2.2.3


            
